<%- include('partials/head')%>
<body class="d-flex flex-column vh-100">

    <%- include('partials/navbar')%>
        <main class="container mt-5">
        
        
           <div class="row no-gutters">
            <div class="col-9">
                <h1>HomePage</h1>
               
                  
              
            </div>
            <div class="col-3">
                <div class="card" style="width: 100%;">
                    <div class="mx-auto" > 
                        <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" class="card-img-top" alt="user" width="10" height="150">
                    </div>
                    <div class="card-body">                 
                      <h5 class="card-title">Welcome </h5>
                     
                    </div>
                  </div>

            </div>
          </div>


        </main>
       
    <%- include('partials/footer')%>